repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [pandas-stubs]
        args: [--ignore-missing-imports]
  - repo: local
    hooks:
      - id: pytest-fast
        name: pytest (fast)
        entry: pytest -x -m "not slow" --no-header -q
        language: system
        pass_filenames: false
        always_run: true
